<script>
  import Links from '../components/links.svelte';
</script>

<svelte:head>
  <title>Daniel Lantz</title>
</svelte:head>
<figure><img alt="Tree" src="/favicon.png" /></figure>

<h1>Daniel Lantz</h1>

<p>
  An engineer, musician, and perpetual student with the goal of engaging in
  meaningful pursuits.
</p>

<Links />

<style>
  h1,
  figure,
  p {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 0.5em 0;
  }

  figure {
    margin: 0 0 1em 0;
  }

  p {
    font-size: 1.2em;
    margin: 1em auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>
