<script>
  import linkedin from 'images/linkedin-logo.svg';
  import gitlab from 'images/gitlab-logo.svg';
</script>

<div>
  <a href="https://www.linkedin.com/in/dflantz/"
    ><img src={linkedin} alt="LinkedIn" /></a
  >
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }
  a {
    margin: 0 1rem;
  }
  img {
    height: 3em;
    width: 3em;
  }
</style>
